[submodule "src/duke/submodules/dukeplugins"]
	path = src/duke/submodules/dukeplugins
	url = git://github.com/mikrosimage/dukeplugins.git
[submodule "src/duke/submodules/sequenceparser"]
	path = src/duke/submodules/sequenceparser
	url = git://github.com/mikrosimage/SequenceParser.git
