[submodule "src/submodules/duke.plugins"]
	path = src/submodules/duke.plugins
	url = git://github.com/mikrosimage/dukeplugins.git
[submodule "src/submodules/sequenceParser"]
	path = src/submodules/sequenceParser
	url = git://github.com/mikrosimage/SequenceParser.git
